.container {
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  text-align: center;
  border: 1px solid var(--border-color);
  background-color: whitesmoke;
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: var(--font-size-lg);
      color: var(--primary);
      align-items: center;
    }
  }
}
