.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .memberContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    overflow-y: auto;
  }
  .noMembers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    color: #888;
    text-align: center;
  }
}
